{%extends 'core/base.html'%}


{% load crispy_forms_tags %}

{% load account socialaccount %}
{% block content %}



    <form method="post">
        {% csrf_token %}
        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top img-thumbnail border border-primary rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp66LN7hfkCiPcx5qe0Cp5p6sw50wX8ZnUQw&s" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Inicio de sesion</h5>
                {{ form | crispy}}
                <a href={% url 'register' %} class="btn btn-primary">Registrarse</a>
                <button type="submit" class="btn btn-primary float-end">Ingresar</button>
            </div>
        </div>
    </form>
{% endblock %}